<meta property="og:title" content="{{ .Params.Ogp.Title | default .Title }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:description" content="{{if .IsHome}}{{ .Site.Params.Description }}{{else}}{{.Params.Ogp.Description | default .Description | default .Summary}}{{end}}">
<meta property="og:image" content="{{ .Params.Ogp.Image | default .Params.Image.Src | default "logo.png" | absURL}}">
<meta property="og:type" content="{{if .IsHome}}{{ "website" }}{{else}}{{ "article" }}{{end}}">
<meta property="og:locale" content="{{ .Site.LanguageCode }}">
<meta property="og:site_name" content="{{ .Params.Ogp.Site | default .Site.Params.FacebookSite }}">