{{- if .Params.series -}}
    {{- $series_name := index .Params.series 0 -}}
    {{- $.Scratch.Add "cur_page_num" 1 -}}
    {{- $.Scratch.Add "total_page_num" 0 -}}
    {{- range .Site.RegularPages.ByDate -}}
        {{- if in .Params.series $series_name -}}
            {{- $.Scratch.Add "total_page_num" 1 -}}
            {{- if gt $.Date.Unix .Date.Unix -}}
                {{- $.Scratch.Add "cur_page_num" 1 -}}
                {{- $.Scratch.Set "prev_link" .Permalink -}}
                {{- $.Scratch.Set "prev_title" .Title -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- range .Site.RegularPages.ByDate.Reverse -}}
        {{- if in .Params.series $series_name -}}
            {{- $.Scratch.Set "first_link" .Permalink -}}
            {{- if lt $.Date.Unix .Date.Unix -}}
                {{- $.Scratch.Set "next_link" .Permalink -}}
                {{- $.Scratch.Set "next_title" .Title -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
    {{- if or ($.Scratch.Get "next_link") ($.Scratch.Get "prev_link") -}}
        <hr/>
        <p>Part {{ $.Scratch.Get "cur_page_num" }} of {{ $.Scratch.Get "total_page_num" }}
            in the <a href="{{.Site.BaseURL}}series/{{ $series_name | urlize}}">{{- $series_name -}}</a> book series.</p>
        <p>
        {{- if $.Scratch.Get "prev_link" -}}
            {{- if ne ($.Scratch.Get "prev_link") ($.Scratch.Get "first_link") -}}
                <a href="{{- $.Scratch.Get "first_link" -}}">{{ partial "miscellaneous/fontawesome.html" "angle-left" }}Series Start{{ partial "miscellaneous/fontawesome.html" "angle-right" }}</a>
                     |
            {{ end -}}
            {{- if $.Scratch.Get "prev_link" -}}
                <a href="{{- $.Scratch.Get "prev_link" -}}">{{ partial "miscellaneous/fontawesome.html" "angle-double-left" }}{{- $.Scratch.Get "prev_title" -}}</a>
            {{- end -}}
        {{- end -}}
        {{- if and ($.Scratch.Get "next_link") ($.Scratch.Get "prev_link") }}
                 |
        {{ end -}}
        {{- if $.Scratch.Get "next_link" -}}
            <a href="{{- $.Scratch.Get "next_link" -}}">{{- $.Scratch.Get "next_title" -}}{{ partial "miscellaneous/fontawesome.html" "angle-double-right" }}</a></p>
        {{- end -}}
    {{- end -}}
        <hr/>
{{- end -}}