.post-content {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
  }
}

@media screen and (max-width: 600px) {
.product {
    &__title {
      margin-top: 2em !important;
      text-align: center;
    }
  }
}